.socials-main-section {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: 20vh;
  width: 100vw;
}

.icons {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.icon img {
  width: 50px;
}

.icon {
  padding: 0 100px;
  margin-bottom: 30px;
}
